!!!
%html
  %head
    %title Word Centipede
    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' }

  %body
    =yield

    %script{ src: '/javascripts/application.js' }
